<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <button @click="show" v-if="count === 0"> click to increment</button>
    <button style="width: 100px" @click="show" v-if="count != 0"> {{count}}</button>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        count: 0
      },
      methods: {
        show: function(){
            this.count +=1
        }
      }
    });
  </script>

</body>
</html>